@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital@1&family=Potta+One&family=Roboto:ital,wght@1,300&display=swap');
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(0, 0, 24);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(2, 2, 54);
    width: 100%;
    height: 15vh;
    box-shadow: 0px 0px 30px 0px rgb(5, 5, 151);
   position: fixed;
   top: 0px;
}
.header .image img{
    width: 200px;
}
.header  .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.header  .navbar ul li{
 list-style: none;
 padding:  12px 40px;
}
.header  .navbar ul li a{
    color: #fff;
    text-decoration: none;
    padding: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    position: relative;
    transition: .5s  ease linear;

}
.header  .navbar ul li a::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 8px;
    height: 5px;
    background-color: #fff;
    width: 0;
    transition: all .5s linear; 

}
.header  .navbar ul li a:hover::before{
    width: 100%;
    background-color: rgb(88, 8, 88);
    height: 5px;
    
}
.header  .navbar ul li a i{
    padding: 7px;
}
.sides{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25vh;
   
}
.side1{
    margin-right: 18%;
}
.side1 .heading img{
    height: 60px;
    margin-left: 180px;
    margin-top: -52px;
    transition: 1s  ease;
    animation: rotate 1s infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(12deg);
    }
    25%{
        transform: rotate(14deg);
    }
    50%{
        transform: rotate(16deg);
    }
    100%{
        transform: rotate(18deg);
    }
}
.side1 h1{
    color: #fff;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
#purple-1{
    color:plum;
     font-family: 'Poppins', sans-serif;
    
}
.auto-type{
    color: plum;
    font-size: 40px;
     font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin-top: 20px;
    /* position: absolute;
     */
}
.side2 img{
    height: 400px;
}
.intro{
    height: 100vh;
    margin-top: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.intro .text1 h1{
 font-size: 40px;
 color: #fff;
 font-family: 'Poppins', sans-serif;
 padding-left: 60px;
 font-weight: 400;
 margin-top: 20px;
}
.intro .img1 img{
    height: 250px;
    transition: 2s all linear ;
    
   
}
#dv:hover{
    transform: rotateY(30deg);
    opacity: 1;
}


#purple-2,#purple{
    color: plum;
    font-weight: 500;
    font-style: oblique;
   
}
.intro .text1 p {
    color: #fff; 
 font-family: 'Poppins', sans-serif;
 padding-top: 12px;
 font-size: 20px;
 margin-top: 20px;
 text-transform: capitalize;
}
.find{
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.findon h1{
    color: #fff;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding-left: 12px;
}
.findon p{
    font-size: 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.icons{
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px
   
}
.icons li {
  display: inline;
  padding-left: 25px;
  padding-right: 25px;

}
.icons i{
   padding: 12px;
    color: #fff;
    border-radius: 10rem;
    background: linear-gradient(#fff,purple);
    transition: .5s ease;
}
.icons i:hover{
    background: linear-gradient(purple,#fff); 
    box-shadow: 0px 0px 5px 5px purple;
}
footer{
    height: 10vh;
    background-color: rgb(2, 2, 54);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.heading-2 h2{
    color: #fff;
    font-family: sans-serif;
    font-weight: 400;
}
.copyright{
    color: #fff;
    font-family: sans-serif;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.icon li {
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
}
.icon i{
    display: inline;
     color: #fff;
     font-size: 17px;
    }